<div style="background-image: url(<%=asset_url('annie-spratt-FSFfEQkd1sc-unsplash.jpg')%>);background-size: cover;height: 100vh;">
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="navbar-brand">Employee Portal</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://www.paychex.com">Details</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>   

<div class="container">
<div class="p-5 rounded-lg m-3", style="background: rgba(255, 255, 255, 0.8)">
<center>
<h2>Edit Employee Profile</h2>

<%= form_for(@edit_employee, as: :employee, url: employee_profile_update_path(@edit_employee), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: @edit_employee %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div><br/>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div><br/>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div><br/>

  <div class="field">
    <%= f.label :division_id %><br />
    <%= f.collection_select :division_id, Division.all, :id, :name, prompt: true %> 
  </div><br/>

  <div class="field">
    <%= f.label :designation_id %><br />
    <%= f.collection_select :designation_id, Designation.all, :id, :name, prompt: true %> 
  </div><br/>

  <div class="field">
    <%= f.label :master_role_id %><br />
    <%= f.collection_radio_buttons :master_role_id, MasterRole.all, :id, :name %> 
  </div><br/>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  <br/>

<% end %>

<p><%= button_to "Remove Employee", registration_path(@edit_employee), data: { turbo_confirm: "Are you sure?" }, method: :delete %></p>

<p><a href="<%= employee_root_path %>" class="btn btn-outline-primary">Cancel</a></p>

</center>
</div>
</div>
</div>
