<div style="background-image: url(<%=asset_url('annie-spratt-FSFfEQkd1sc-unsplash.jpg')%>);background-size: cover;height: 100vh;">
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="navbar-brand">Employee Portal</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if current_employee.master_role.name == "Project Manager" %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="<%= project_new_path %>">Add Project</a></li>
              <li><a class="dropdown-item" href="<%= project_assign_path(Project) %>">Assign to Project</a></li>
              <li><a class="dropdown-item" href="<%= project_remove_path(Project) %>">Remove from Project</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="<%= project_index_path %>">View Projects</a></li>
              <li><a class="dropdown-item" href="<%= employees_list_path %>">View Employees</a></li>
            </ul>
        </li>  
      <% end %>  
        <li class="nav-item">
          <a class="nav-link" href="https://www.paychex.com">Details</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<div class="p-5 rounded-lg m-3", style="background: rgba(255, 255, 255, 0.8)">
<center>
<h1>Select a Project</h1> <br/>

<% if current_employee.master_role.name == "Project Manager" %>
  <div class="dropdown-center">
    <button class="btn btn-secondary btn-lg dropdown-toggle bg-primary" style="width:400px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Select a Project
    </button>
    <ul class="dropdown-menu">
      <% @projects.each do |project| %>
        <li><a class="dropdown-item" href="<%= project_remove_path(:id => project) %>"><%= project.name %></a></li>
      <% end %>
    </ul>
  </div><br/>         
<% end %>

<% if params[:id] != "Project" %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Designation</th>
        <th scope="col">Division</th>
        <th scope="colgroup">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <th scope="row"><%= employee.id %></th>
          <td><%= employee.name %></td>
          <td><%= employee.username %></td>
          <td><%= employee.email %></td>
          <td><%= employee.designation.name %></td>
          <td><%= employee.division.name %></td>
          <td><%= button_to 'Remove', project_remove_from_path(@project, :employee_id => employee), method: :delete, data: { turbo_confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>  
    </tbody>
  </table>    
<% end %> <br/>

<p><a href="<%= employee_root_path %>" class="btn btn-outline-primary">Back to Dashboard</a></p>
</center>
</div>
</div>
</div>